/* Page setup */

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 100%;
}

.intro {
  height: 300px;
  width: 100%;
  padding-top: 50px;
  margin: auto;
  background: url("img/kayak.jpg") no-repeat 50% 50%; /*Photo by Benjamin Davies on Unsplash*/
  background-size: cover;
  display: table;
  top: 0;
  position: fixed;
  z-index: 0;
}

main, .main-nav {
  position: relative;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 28%;
}

.content h1 {
  /* max-width: 500px; */
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  color: #bab9b9;
  font-size: 550%;
  text-shadow: 3px 3px #1e7860;
  font-weight: 600;
}

.content p {
  font-family: 'Open Sans', sans-serif;
  color: #bab9b9;
  font-size: 130%;
  line-height: 190%;
}

.worklink {
  margin: 50px;
}

.mylink {
  font-size: 150%;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #e1dede;
  border: 2px solid #e1dede;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 200px;
  z-index: 20;
}

.mylink:hover {
  color: #24b891;
  border: 2px solid #24b891;
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 300%;
  }
  .mylink {
    font-size: 110%;
    padding: 7px 15px;
  }
}

main {
  flex: 1 0 auto;
  background-color: rgb(222, 218, 218);
  padding: 110px 50px 50px 50px;
}

 /* Navbar */
.main-nav {
  background: #4E7950;
  height: 80px;
  z-index: 150;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: -80px;
}

.nav-scrolled {
  position: fixed;
  top: 0;
  width: 100%;
}

.brand-logo {
  left: 2%;
}

.section-bar {
  width: 70px;
  height: 4px;
  background: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

/* About section */
.octagon, .octagon div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.octagon, .octagon div {
  width: 270px;
  height: 270px;
}
.octagon {
  transform: rotate(45deg);
}
.octa1 {
  transform: rotate(-45deg);
}

/* Project section */
.project-text {
  margin: 0 5% 0 5%;
}

.project-text h4 {
  font-weight: 600;
}

.project-screenshot {
  width: 30%;
  height: auto;
}

.project {
  margin-bottom: 5%;
}

/* Skills section */

strong {
  font-size: 20px;
}

.skills {
  font-size: 18px;
  margin-left: 1%;
}

/* Contact section */
form {
  padding: 20px;
}

::placeholder {
    color: rgb(162, 162, 162);
    opacity: 1; /* Firefox */
}

textarea {
  margin-top: 10px;
  height: 10em;
}

.btn {
  margin-top: 30px;
}

/* Footer */

footer {
  z-index: 10;
}

.page-footer {
  background: #4E7950;
}

.fab {
  margin: 15px;
}

.footerlink {
  padding: 0 10px;
  border-right: solid 1px;
}

.footerlinklast {
  padding: 0 10px;
}

.skill-links {
  display: inline-block;
  white-space: nowrap;
}

/* Media queries */
@media (max-width: 768px) {
  .flex-s {
    display: flex;
    flex-direction: column; /* Stack 2 divs */
  }
  .box-b {
    margin-top: 30px;
    order: 2; /* Move image down to next line */
  }
  .box-a {
    margin-top: -30px;
  }
  .project-text {
    text-align: center;
    margin: auto auto 3% auto;
  }
  .project-screenshot {
    margin: auto auto 4% auto;
  }
}
