body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("img/background.jpg");
  background-size: cover;
}

nav {
  background: #4E7950;
}

.page-footer {
  background: #4E7950;
}

.header-bar {
  width: 70px;
  height: 4px;
  background: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.project-screenshot {
  width: 30em;
  height: auto;
}

main {
  flex: 1 0 auto;
}

.brand-logo {
  left: 2%;
}

form {
  padding: 20px;
}

textarea {
  margin-top: 10px;
  height: 10em;
}

.octagon, .octagon div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.octagon, .octagon div {
  width: 270px;
  height: 270px;
}
.octagon {
  transform: rotate(45deg);
}
.octa1 {
  transform: rotate(-45deg);
}

.fab {
  margin: 15px;
}

.btn {
  margin-top: 30px;
}

.skills {
  padding: 0 10px;
  border-right: solid 1px black;
}

.footerlink {
  padding: 0 10px;
  border-right: solid 1px;
}

.footerlinklast {
  padding: 0 10px;
}

.project {
  margin-bottom: 60px;
}

@media (max-width: 600px) {
  .flex-s {
    display: flex;
    flex-direction: column; /* Stack 2 divs */
  }
  .box-b {
    margin-top: 30px;
    order: 2; /* Move image down to next line */
  }
  .box-a {
    margin-top: -30px;
  }
}
